    <!-- Contribute Section -->
    <section id="contribute" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Do you wonna contribute?</h2>
                <p>We are looking for quotes in every language. Contact us at <a href="mailto:{{ site.email }}">{{ site.email }}</a> 
                    or open a <a href="https://github.com/srebughini/BEERQ/pulls">pull request on github.</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>